@media screen and (max-width: 575px) {

    #selections {
        flex-direction: column;
    }

    #modelName {
        padding: 2rem 15px;
    }

    #carouselBox {
        width: 100vw;
        margin: 0;
    }

}
